#walrus-showing {
    display: none;
}

.clickable {
    cursor: pointer;
    color: #0088cc;
}

.clickable:hover {
    text-decoration: underline;
}
img {
    max-width:400px;
  }

  #sandcastle-showing {
    display: none;
}

.clickable2 {
    cursor: pointer;
    color: #0088cc;
}

.cyan-background {
    background-color: cyan;
}

.black-background {
    background-color: black;
    color: white;
}
.btn-black {
    background-color: black;
    color: white;
}
.btn-cyan {
    background-color: cyan;
    color: black;
}
.btn {
    border: 80px;
    border-color: chocolate;
    width: 90px;
}